body {
    /* background-color: azure !important; */
}

.profile--form--group {
    margin: 0 0 15px 0;
}

.profile--form--control {
    background-color: white !important;
    border-radius: 10px !important;
    transition: 0.3s !important;
}

.profile--form--control:focus {
    border-color: #735F32 !important;
    box-shadow: 0 0 !important;
}