.counter--body {
    width: 20px !important;
    display: flex;
    align-self: center;
    justify-content: center;
}

.counter--btn {
    background-color: #282A3A !important;
    border-color: #735F32 !important;
    transition: 0.3s !important;
    height: 38px;
    width: 38px;
}

.counter--btn:active {
    background-color: #735F32 !important;
    border-color: #282A3A !important;
}