.counter--body {
    /* width: 20px !important; */
    width: 40px !important;
    display: flex;
    align-self: center;
    justify-content: center;
    background-color: transparent !important;
    color: white !important;
    border: none !important;
}

.counter--btn {
    background-color: #282A3A !important;
    border-color: #735F32 !important;
    transition: 0.3s !important;
    height: 38px;
    width: 38px;
}

.counter--btn:active {
    background-color: #735F32 !important;
    border-color: #282A3A !important;
}