.predict--entry--div {
    border: 1px #282A3A solid;
    border-radius: 10px;
    padding-left: 12px;
    padding-right: 12px;
}

/* .predict--entry--form>div {
    border-bottom: 1px #282A3A solid;
}


.match--row {
    border-bottom: 1px #282A3A solid;
}
 */

.match--row:first-of-type:not(:last-of-type),
.match--row:not(:first-of-type):not(:last-of-type) {
    border-bottom: 1px solid #FFFFFF !important;
}


/*
.match--row+.match--row {
    border-bottom: 3px solid #FFFFFF !important;
}

.match--row:first-child {
    border-bottom: 0px !important;
} */

/* 
.predict--entry--vs {
    width: fit-content !important;
    align-self: center;
} */