.sb--table {
    border: 1px #282A3A solid !important;
    border-radius: 10px !important;
    border-collapse: initial !important;
}

.sb--table>table {
    color: #FFFFFF !important;
    border-color: #282A3A !important;
}

.sb--table thead th {
    border-bottom: 1px solid #282A3A !important;
    padding-left: 20px !important;
    height: 64px !important;
    vertical-align: middle !important;
    transition: 0.3s;
}

.sb--table>table>tbody>tr {
    border-bottom: 1px solid #282A3A !important;
}

.sb--table>table>tbody>tr>td {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    padding-left: 20px !important;
    transition: 0.3s;
}


tr td:not(:first-child):not(:nth-child(2)) {
    width: 70px !important;
}

.sb--table>table>tbody>tr:hover {
    color: #735F32;
}

.win--btn, .lose--btn, .pts--btn {
    cursor: pointer;
    transition: 0.3s;
    background-color: transparent !important;
    border: 0px !important;
    padding: 0 !important;
    font-weight: bolder !important;
}

.win--btn:hover,
.lose--btn:hover,
.pts--btn:hover {
    color: #735F32 !important;
}