.navbar--body {
    background-color: #282A3A !important;
    border-top: #000000 solid 1px;
}

.navbar--logo {
    color: white !important;
}

.navbar--navlink {
    color: white !important;
    transition: 0.3s !important;
}

.navbar--navlink:hover {
    color: #735F32 !important;
}

.cnnct--wllt {
    background-color: transparent;
    border: 1px solid #FFFFFF;
    border-width: thin;
    border-radius: 10px;
    transition: 0.3s;
}

.cnnct--wllt:hover,
.cnnct--wllt:active,
.cnnct--wllt:focus {
    color: #735F32 !important;
    background-color: transparent !important;
    border-color: #735F32 !important;
    transition: 0.3s;
}

.cnnct--wllt img {
    max-height: 20px;
    margin: 0 5px 0 5px;
}