.club--logo {
    aspect-ratio: 2/1;
    object-fit: contain;
    transition: 0.3s;
}

.club--logo--accordion {
    aspect-ratio: 1.85/1;
    object-fit: contain;
}

.club--logo:hover {
    transform: scale(1.25);
}

.current--match--row {
    padding-left: 12px !important;
    padding-right: 12px !important;

}

.current--match--col {
    border-radius: 10px;
    border: 0.5px solid #000000;
    padding: 110px;
    margin: 20px 20px 20px 20px !important;
    background-repeat: no-repeat !important;
    background-size: calc(50%) !important;
    background-position: center top !important;
    background-color: #282a3a !important;
    transition: 0.3s;
    position: relative;

}

.current--match--col::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.current--match--col:hover::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


.current--match--col>h5 {
    filter: opacity(1) !important;
}

.current--match--col:hover {
    cursor: pointer;
    border: 0.5px solid #C69749;
    background-position: center bottom !important;
    background-color: rgba(0, 0, 0, 1);

}


@media (max-width: 1199px) and (min-width: 992px) {
    .current--match--col {
        padding: 80px;
    }
}

@media (max-width: 991px) {
    .current--match--col {
        padding: 60px;
    }

    .club--logo {
        aspect-ratio: 3/1;
    }
}


@media (max-width: 767px) {
    .current--match--col {
        padding: 30px;
    }
}

@media (max-width: 575px) {

    .current--match--col {
        padding: 60px;
    }

    .club--logo--accordion {
        aspect-ratio: 1.5/1;
        object-fit: contain;
    }
}