.club--logo {
    aspect-ratio: 2/1;
    object-fit: contain;
    transition: 0.3s;
}

.club--logo--accordion {
    aspect-ratio: 1.85/1;
    object-fit: contain;
}

.club--logo:hover {
    transform: scale(1.25);
}

.current--match--row {
    padding-left: 12px !important;
    padding-right: 12px !important;
}

.current--match--col {
    color: red !important;
    border-radius: 10px;
    padding: 110px;
    margin: 20px;
    background-repeat: no-repeat !important;
    background-size: calc(50%) !important;
    background-position: center top !important;
    background-color: yellow !important;
    transition: 0.3s;
}

.current--match--col:hover {
    cursor: pointer;
    background-position: center bottom !important;
}


@media (max-width: 1199px) and (min-width: 992px) {
    .current--match--col {
        padding: 80px;
    }
}

@media (max-width: 991px) {
    .current--match--col {
        padding: 60px;
    }

    .club--logo {
        aspect-ratio: 3/1;
    }
}


@media (max-width: 767px) {
    .current--match--col {
        padding: 30px;
    }
}

@media (max-width: 575px) {

    .current--match--col {
        padding: 60px;
    }

    .club--logo--accordion {
        aspect-ratio: 1.5/1;
        object-fit: contain;
    }
}