@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');


body {
  background-color: #000000 !important;
  /* margin-top: 20px !important; */
  margin-bottom: 65px !important;
  color: white !important;
  font-family: 'Outfit', sans-serif !important;
  /* height: 100vh; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
}